
{% extends "pizzas/base.html" %}

{% block content %}
<font size="6">
<h1><center> The Pizzzeria</center></h1>
<h2><center> Prices for PIES that will KNOCK your socks off!!!   </center></h2>
<h3><center> ================  Hear From Our Biggest Supporters Below  ================ </center></h3>
<h2><center> "Not Your Average Pizzeria" - Christopher Kane </center> </h2>
<h2><center> "Brings me as much joy as Assembly" - Joy Deep Mitra </center> </h2>
<p><center> Note: Pizzzeria does not claim these people to be related in any shape or form to the Professors at Stony Brook and is not responsible for false advertisment </center> </p>

</font>
{% endblock content %}